{
    "token": "your bot's token",
    "channel": "main channel ID",
    "roles": [
        "role ID",
        "another role ID",
        "role name"
    ],
    "reaction": "an emoji",
    "tutorial": true
}